.AboutSectionContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 7rem 0;
    flex-wrap: wrap;
}
.AboutSectionContainer img{
    object-fit: cover;
}
.AboutTextContainer{
    display: flex;
    flex-direction: column;
    width: 40%;
    margin: 0 6rem;
}
.AboutTextContainer h1{
    font-size: 3rem;
    font-weight: bold;
    font-family: "PT Serif";
    color: #495E57;
}
.AboutTextContainer p{
    font-size: 1.1rem;
    font-weight: bold;
    color: black;
}
#TopImage{
    position: absolute;
}
#TopImage{
    position: relative;
    right: 8rem;
    bottom: 3rem;
}

@media (max-width: 1080px){ 
    .AboutTextContainer{
        margin: 0 2rem;
        width: 80%;
        
    }
    .ImgContainer{
        display: none;
    }
    .AboutTextContainer p{
        text-align: justify;
    }
}