.Footer{
    display: flex;
    padding: 5rem;
    justify-content: center;
    align-items: center;
    background: #495E57;
}
.Footer img{
    filter: drop-shadow(4px 4px 0px #213a25);
}
.Footer p{
    font-family: sans-serif;
    font-weight: 600;
    font-size: 29px;
    color: #F4CE14;
}
.Footer a{
    font-family: sans-serif;
    font-size: 27px;
    color: white;
}
.Footer a:hover{
    transition: 150ms;
    color: #EE9972;
}
.FooterNavBar{
    display: flex;
    justify-content: space-evenly;
    gap: 10rem;
}
@media (width < 1024px){ 
    .Footer{
        padding: 1rem;
    }
    .FooterNavBar{
        justify-content: space-evenly;
        gap: 2rem;
    }
}
@media (width < 814px){ 
    .Footer{
        flex-direction: column;
        padding: 1rem;
    }
    .FooterNavBar{
        flex-direction: column;
    }
}
@media (max-width: 418px){
    .Footer{
        padding: 1rem 0;
    }
    .FooterNavBar{
        display: flex;
        justify-content: space-evenly;
        gap: 1rem;
    }
}