.Footer{
    display: flex;
    padding: 5rem;
    justify-content: space-evenly;
    place-items: start;
    background: #495E57;
}
.Footer p{
    font-family: sans-serif;
    font-weight: 600;
    font-size: 29px;
    color: #F4CE14;
}
.Footer a{
    font-family: sans-serif;
    font-size: 27px;
    color: white;
}
.Footer a:hover{
    transition: 150ms;
    color: #EE9972;
}
.FooterNavBar{
    display: flex;
    justify-content: space-evenly;
    gap: 10rem;
}