.HeroSectionContainer{
    display: flex;
    gap: 5rem;
    justify-content: center;
    background: #495E57;
}
.HeroSectionContainer img{
    margin-top: 4rem;
}
.DescriptionContainer{
    padding-top: 2rem ;
    display: flex;
    font-family: "PT Serif", serif;
    flex-direction: column;
    width: 30%;
}
.DescriptionContainer h1{
    font-size: 5.3rem;
    color: #F4CE14;
    
}
.DescriptionContainer p{
    font-size: 1.5rem;
    font-family: "Karla", sans-serif;
    color: white;
}
.DescriptionContainer button{
    background: #F4CE14;
    border: none;
    border-radius: 16px;
    width: 50%;
    height: 4rem;
    font-size: 1.3rem;
    font-weight: bold;
    margin-top: auto;
    margin-bottom: 2rem;
}
.DescriptionContainer button:hover{
    transition: 300ms;
    background: #a38a0e;
}