.HeroSectionContainer{
    display: flex;
    gap: 7rem;
    justify-content: center;
    background: #495E57;
}
.HeroSectionContainer img{
    object-fit: cover;
    border-radius: 16px;
    position: relative;
    top: 4rem;
}
.DescriptionContainer{
    display: flex;
    flex-direction: column;
    font-family: "PT Serif", serif;
    padding-top: 4rem ;
    width: 28%;
}
.LogoAndSublogo h1{
    font-size: 3rem;
    color: #F4CE14;
    margin: 0;
}
.DescriptionContainer p{
    font-size: 1.2rem;
    font-weight: bold;
    color: white;
    width: 85%;
}
.DescriptionContainer > p{
    margin: 2rem 0;
}
.DescriptionContainer button{
    background: #F4CE14;
    border: none;
    border-radius: 16px;
    width: 15rem;
    height: 3.5rem;
    font-family: "Karla", sans-serif;
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: auto;
    margin-bottom: 2rem;
}
.DescriptionContainer button:hover{
    transition: 300ms;
    background: #a38a0e;
}