.HighlightSectionContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 8rem;
}
.TextAndButtonContainer{
    display: flex;
    justify-content: space-between;
    align-content: center;
    gap: 18rem;
}
.TextAndButtonContainer h1{
    font-family: "PT Serif", sans-serif;
    font-size: 3rem;
}
.TextAndButtonContainer button{
    background: #F4CE14;
    border: none;
    border-radius: 16px;
    width: 15rem;
    height: 3.5rem;
    font-family: "Karla", sans-serif;
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: auto;
    margin-bottom: 2rem;
}
.TextAndButtonContainer button:hover{
    transition: 300ms;
    background: #a38a0e;
}
.MultiCardContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8rem;
}
@media (width < 1024px){ 
    .MultiCardContainer{
        gap: 2rem;
    }
    .TextAndButtonContainer{
        justify-content: center;
        gap: 1rem;
    }
}
@media (width < 814px){ 
    .HighlightSectionContainer{
        margin: 1rem;
    }
    .MultiCardContainer{
        flex-direction: column;
    }
    .TextAndButtonContainer{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .TextAndButtonContainer h1{
        text-align: center;
    }
}